# Cleaning & Merging DataFrames

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

## EU Economic Data

In [3]:
economic_info= pd.read_csv("./data/economic_info.csv")

In [23]:
economic_info

,Countries,Population,Annual GDP,Annual GDP.1,GDP per capita,GDP per capita.1,HDI,Debt (M.€.),Debt ($M),Debt (%GDP),Deficit (%GDP)
0,Austria,8978929,"€406,149M","$477,084M","€45,370","$53,332",0.922,334162,395121,82.30%,-5.90%
1,Belgium,11631136,"€502,312M","$599,107M","€43,340","$51,849",0.931,548488,649405,109.20%,-5.60%
2,Bulgaria,6838937,"€71,077M","$80,327M","€10,330","$11,746",0.816,17010,19143,23.90%,-3.90%
3,Croatia,3879074,"€57,200M","$67,707M","€14,750","$17,454",0.851,45743,54026,78.40%,-2.60%
4,Cyprus,904705,"€24,019M","$27,738M","€26,680","$30,957",0.887,24271,28725,101.00%,-1.70%
5,Czechia,10516707,"€238,238M","$281,778M","€22,270","$26,849",0.900,103260,118395,42.00%,-5.10%
6,Denmark,5873420,"€336,719M","$398,303M","€57,520","$68,202",0.940,123315,145899,36.60%,3.60%
7,Estonia,1331796,"€31,445M","$37,216M","€22,580","$27,962",0.892,5534,6551,17.60%,-2.40%
8,Finland,5548241,"€251,367M","$297,575M","€45,360","$53,774",0.938,181920,196952,72.40%,-2.70%
9,France,67842582,"€2,500,870M","$2,957,425M","€36,660","$45,188",0.901,2821899,3329379,112.80%,-6.50%
10,Germany,83237124,"€3,601,750M","$4,262,767M","€43,290","$51,238",0.947,2471628,2968690,68.60%,-3.70%
11,Greece,10603810,"€181,675M","$216,384M","€17,010","$20,263",0.888,353434,431474,194.50%,-7.50%
12,Hungary,9689010,"€153,759M","$182,281M","€15,840","$18,732",0.854,114715,139916,76.80%,-7.10%
13,Ireland,5060005,"€426,283M","$504,517M","€84,940","$100,129",0.955,236073,279136,55.40%,-1.70%
14,Italy,58983122,"€1,782,050M","$2,101,275M","€30,150","$35,625",0.892,2678098,3169955,150.30%,-7.20%
15,Latvia,1875757,"€33,696M","$38,898M","€17,890","$20,546",0.866,14688,17775,43.60%,-7.00%
16,Lithuania,2805998,"€56,179M","$65,547M","€20,000","$23,386",0.882,24536,29273,43.70%,-1.00%
17,Luxembourg,645397,"€73,314M","$86,711M","€114,370","$134,353",0.916,17729,21118,24.50%,0.80%
18,Malta,520971,"€14,681M","$17,376M","€28,310","$33,667",0.895,8268,9805,56.30%,-7.80%
19,Netherlands,17590672,"€856,356M","$1,013,520M","€48,840","$57,997",0.944,449026,530350,52.40%,-2.60%
20,Poland,37654247,"€574,772M","$679,067M","€15,060","$17,946",0.880,306837,365276,53.80%,-1.80%
21,Portugal,10352042,"€214,471M","$250,055M","€20,840","$24,296",0.864,269250,318643,125.50%,-2.90%
22,Romania,19038098,"€240,154M","$284,086M","€12,560","$14,795",0.828,116695,145994,48.90%,-7.10%
23,Slovakia,5434712,"€98,523M","$114,947M","€18,110","$21,053",0.860,61267,72501,62.20%,-5.50%
24,Slovenia,2107180,"€52,208M","$61,790M","€24,770","$29,298",0.917,38877,45990,74.50%,-4.70%
25,Spain,47432805,"€1,206,842M","$1,426,224M","€25,500","$30,090",0.904,1427238,1690788,118.30%,-6.87%
26,Sweden,10452326,"€537,310M","$635,664M","€51,590","$60,816",0.945,193253,227749,36.30%,-0.10%
27,TOTAL,446828803,"€14,523,417M","$17,165,369M","€32,503","$38,416",NaN,12987214,15408026,89.42%,NaN

## Refugee Data

In [5]:
refugee_df= pd.read_csv("./data/refugee_df.csv")

In [24]:
refugee_df

            Countries  Refugees in thousands
0             Austria                   8308
1             Belgium                   5616
2            Bulgaria                  13616
3             Croatia                    185
4              Cyprus                   1679
5             Czechia                  44226
6             Denmark                    335
7             Estonia                   3597
8             Finland                   4079
9              France                    105
10            Germany                  70915
11             Greece                   1941
12            Hungary                     30
13            Iceland                    164
14            Ireland                   5483
15              Italy                  15761
16             Latvia                   4091
17       Lichtenstein                     31
18          Lithuania                   6705
19         Luxembourg                    656
20              Malta                    142
21         Montenegro                    649
22        Netherlands                   7925
23             Norway                   2849
24             Poland                 142248
25           Portugal                   5288
26            Romania                   6706
27  Serbia and Kosovo                      1
28           Slovakia                   9614
29           Slovenia                    777
30              Spain                  14584
31             Sweden                   4624
32        Switzerland                   6562
33                 UK                   1342

In [25]:
refugee_df.rename(columns = {' Countries':'Countries'}, inplace = True)

In [26]:
refugee_df.columns

Index(['Countries', 'Refugees in thousands'], dtype='object')

# Merging EU Economic Data with Refugee Data

In [10]:
# KeyError: 'Countries'
# result = pd.merge(economic_info,refugee_df, on="Countries")

In [27]:
def merge_dataframe(df1,df2,column):
    
    return pd.merge(df1,df2,how='outer', on=column, left_index=False, right_index=False, sort=True)

In [28]:
new_data_frame = merge_dataframe(economic_info,refugee_df,"Countries")

In [31]:
new_data_frame

,Countries,Population,Annual GDP,Annual GDP.1,GDP per capita,GDP per capita.1,HDI,Debt (M.€.),Debt ($M),Debt (%GDP),Deficit (%GDP),Refugees in thousands
0,Austria,8978929.0,"€406,149M","$477,084M","€45,370","$53,332",0.922,334162.0,395121.0,82.30%,-5.90%,8308.0
1,Belgium,11631136.0,"€502,312M","$599,107M","€43,340","$51,849",0.931,548488.0,649405.0,109.20%,-5.60%,5616.0
2,Bulgaria,6838937.0,"€71,077M","$80,327M","€10,330","$11,746",0.816,17010.0,19143.0,23.90%,-3.90%,13616.0
3,Croatia,3879074.0,"€57,200M","$67,707M","€14,750","$17,454",0.851,45743.0,54026.0,78.40%,-2.60%,185.0
4,Cyprus,904705.0,"€24,019M","$27,738M","€26,680","$30,957",0.887,24271.0,28725.0,101.00%,-1.70%,1679.0
5,Czechia,10516707.0,"€238,238M","$281,778M","€22,270","$26,849",0.900,103260.0,118395.0,42.00%,-5.10%,44226.0
6,Denmark,5873420.0,"€336,719M","$398,303M","€57,520","$68,202",0.940,123315.0,145899.0,36.60%,3.60%,335.0
7,Estonia,1331796.0,"€31,445M","$37,216M","€22,580","$27,962",0.892,5534.0,6551.0,17.60%,-2.40%,3597.0
8,Finland,5548241.0,"€251,367M","$297,575M","€45,360","$53,774",0.938,181920.0,196952.0,72.40%,-2.70%,4079.0
9,France,67842582.0,"€2,500,870M","$2,957,425M","€36,660","$45,188",0.901,2821899.0,3329379.0,112.80%,-6.50%,105.0
10,Germany,83237124.0,"€3,601,750M","$4,262,767M","€43,290","$51,238",0.947,2471628.0,2968690.0,68.60%,-3.70%,70915.0
11,Greece,10603810.0,"€181,675M","$216,384M","€17,010","$20,263",0.888,353434.0,431474.0,194.50%,-7.50%,1941.0
12,Hungary,9689010.0,"€153,759M","$182,281M","€15,840","$18,732",0.854,114715.0,139916.0,76.80%,-7.10%,30.0
13,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164.0
14,Ireland,5060005.0,"€426,283M","$504,517M","€84,940","$100,129",0.955,236073.0,279136.0,55.40%,-1.70%,5483.0
15,Italy,58983122.0,"€1,782,050M","$2,101,275M","€30,150","$35,625",0.892,2678098.0,3169955.0,150.30%,-7.20%,15761.0
16,Latvia,1875757.0,"€33,696M","$38,898M","€17,890","$20,546",0.866,14688.0,17775.0,43.60%,-7.00%,4091.0
17,Lichtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0
18,Lithuania,2805998.0,"€56,179M","$65,547M","€20,000","$23,386",0.882,24536.0,29273.0,43.70%,-1.00%,6705.0
19,Luxembourg,645397.0,"€73,314M","$86,711M","€114,370","$134,353",0.916,17729.0,21118.0,24.50%,0.80%,656.0
20,Malta,520971.0,"€14,681M","$17,376M","€28,310","$33,667",0.895,8268.0,9805.0,56.30%,-7.80%,142.0
21,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,649.0
22,Netherlands,17590672.0,"€856,356M","$1,013,520M","€48,840","$57,997",0.944,449026.0,530350.0,52.40%,-2.60%,7925.0
23,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2849.0
24,Poland,37654247.0,"€574,772M","$679,067M","€15,060","$17,946",0.880,306837.0,365276.0,53.80%,-1.80%,142248.0
25,Portugal,10352042.0,"€214,471M","$250,055M","€20,840","$24,296",0.864,269250.0,318643.0,125.50%,-2.90%,5288.0
26,Romania,19038098.0,"€240,154M","$284,086M","€12,560","$14,795",0.828,116695.0,145994.0,48.90%,-7.10%,6706.0
27,Serbia and Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
28,Slovakia,5434712.0,"€98,523M","$114,947M","€18,110","$21,053",0.860,61267.0,72501.0,62.20%,-5.50%,9614.0
29,Slovenia,2107180.0,"€52,208M","$61,790M","€24,770","$29,298",0.917,38877.0,45990.0,74.50%,-4.70%,777.0
30,Spain,47432805.0,"€1,206,842M","$1,426,224M","€25,500","$30,090",0.904,1427238.0,1690788.0,118.30%,-6.87%,14584.0
31,Sweden,10452326.0,"€537,310M","$635,664M","€51,590","$60,816",0.945,193253.0,227749.0,36.30%,-0.10%,4624.0
32,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6562.0
33,TOTAL,446828803.0,"€14,523,417M","$17,165,369M","€32,503","$38,416",NaN,12987214.0,15408026.0,89.42%,NaN,NaN
34,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1342.0

In [12]:
# KeyError: 'Countries'
#result = pd.merge(economic_info,refugee_df, how="left", on="Countries")

In [32]:
#result = pd.merge(economic_info,refugee_df, how="outter", on="Countries")

## Distance Data

In [7]:
distance_df= pd.read_csv("./data/distance_df.csv")

In [8]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
0,Distance from Andorra to Ukraine,"2,386 km","1,483 miles"
1,Distance from United Arab Emirates to Ukraine,"3,418 km","2,124 miles"
2,Distance from Afghanistan to Ukraine,"3,411 km","2,119 miles"
3,Distance from Antigua and Barbuda to Ukraine,"8,812 km","5,476 miles"
4,Distance from Anguilla to Ukraine,"8,808 km","5,473 miles"
...,...,...,...
245,Distance from Ukraine to Panama,"10,867 km","6,752 miles"
246,Distance from Ukraine to Reunion,"8,099 km","5,032 miles"
247,Distance from Ukraine to Saint Helena,"8,032 km","4,991 miles"
248,Distance from Ukraine to San Marino,"1,518 km",943 miles
249,Distance from Ukraine to Taiwan,"8,049 km","5,001 miles"

In [ ]:
distance_df