# Cleaning & Merging DataFrames

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import numpy as np

## EU Economic Data

In [2]:
economic_info= pd.read_csv("./data/economic_info.csv")

In [3]:
economic_info

,Countries,Population,Annual GDP,Annual GDP.1,GDP per capita,GDP per capita.1,HDI,Debt (M.€.),Debt ($M),Debt (%GDP),Deficit (%GDP)
0,Austria,8978929,"€406,149M","$477,084M","€45,370","$53,332",0.922,334162,395121,82.30%,-5.90%
1,Belgium,11631136,"€502,312M","$599,107M","€43,340","$51,849",0.931,548488,649405,109.20%,-5.60%
2,Bulgaria,6838937,"€71,077M","$80,327M","€10,330","$11,746",0.816,17010,19143,23.90%,-3.90%
3,Croatia,3879074,"€57,200M","$67,707M","€14,750","$17,454",0.851,45743,54026,78.40%,-2.60%
4,Cyprus,904705,"€24,019M","$27,738M","€26,680","$30,957",0.887,24271,28725,101.00%,-1.70%
5,Czechia,10516707,"€238,238M","$281,778M","€22,270","$26,849",0.900,103260,118395,42.00%,-5.10%
6,Denmark,5873420,"€336,719M","$398,303M","€57,520","$68,202",0.940,123315,145899,36.60%,3.60%
7,Estonia,1331796,"€31,445M","$37,216M","€22,580","$27,962",0.892,5534,6551,17.60%,-2.40%
8,Finland,5548241,"€251,367M","$297,575M","€45,360","$53,774",0.938,181920,196952,72.40%,-2.70%
9,France,67842582,"€2,500,870M","$2,957,425M","€36,660","$45,188",0.901,2821899,3329379,112.80%,-6.50%
10,Germany,83237124,"€3,601,750M","$4,262,767M","€43,290","$51,238",0.947,2471628,2968690,68.60%,-3.70%
11,Greece,10603810,"€181,675M","$216,384M","€17,010","$20,263",0.888,353434,431474,194.50%,-7.50%
12,Hungary,9689010,"€153,759M","$182,281M","€15,840","$18,732",0.854,114715,139916,76.80%,-7.10%
13,Ireland,5060005,"€426,283M","$504,517M","€84,940","$100,129",0.955,236073,279136,55.40%,-1.70%
14,Italy,58983122,"€1,782,050M","$2,101,275M","€30,150","$35,625",0.892,2678098,3169955,150.30%,-7.20%
15,Latvia,1875757,"€33,696M","$38,898M","€17,890","$20,546",0.866,14688,17775,43.60%,-7.00%
16,Lithuania,2805998,"€56,179M","$65,547M","€20,000","$23,386",0.882,24536,29273,43.70%,-1.00%
17,Luxembourg,645397,"€73,314M","$86,711M","€114,370","$134,353",0.916,17729,21118,24.50%,0.80%
18,Malta,520971,"€14,681M","$17,376M","€28,310","$33,667",0.895,8268,9805,56.30%,-7.80%
19,Netherlands,17590672,"€856,356M","$1,013,520M","€48,840","$57,997",0.944,449026,530350,52.40%,-2.60%
20,Poland,37654247,"€574,772M","$679,067M","€15,060","$17,946",0.880,306837,365276,53.80%,-1.80%
21,Portugal,10352042,"€214,471M","$250,055M","€20,840","$24,296",0.864,269250,318643,125.50%,-2.90%
22,Romania,19038098,"€240,154M","$284,086M","€12,560","$14,795",0.828,116695,145994,48.90%,-7.10%
23,Slovakia,5434712,"€98,523M","$114,947M","€18,110","$21,053",0.860,61267,72501,62.20%,-5.50%
24,Slovenia,2107180,"€52,208M","$61,790M","€24,770","$29,298",0.917,38877,45990,74.50%,-4.70%
25,Spain,47432805,"€1,206,842M","$1,426,224M","€25,500","$30,090",0.904,1427238,1690788,118.30%,-6.87%
26,Sweden,10452326,"€537,310M","$635,664M","€51,590","$60,816",0.945,193253,227749,36.30%,-0.10%
27,TOTAL,446828803,"€14,523,417M","$17,165,369M","€32,503","$38,416",NaN,12987214,15408026,89.42%,NaN

## Refugee Data

In [4]:
refugee_df= pd.read_csv("./data/refugee_df.csv")

In [5]:
refugee_df

            Countries  Refugees in thousands
0             Austria                   8308
1             Belgium                   5616
2            Bulgaria                  13616
3             Croatia                    185
4              Cyprus                   1679
5             Czechia                  44226
6             Denmark                    335
7             Estonia                   3597
8             Finland                   4079
9              France                    105
10            Germany                  70915
11             Greece                   1941
12            Hungary                     30
13            Iceland                    164
14            Ireland                   5483
15              Italy                  15761
16             Latvia                   4091
17       Lichtenstein                     31
18          Lithuania                   6705
19         Luxembourg                    656
20              Malta                    142
21         Montenegro                    649
22        Netherlands                   7925
23             Norway                   2849
24             Poland                 142248
25           Portugal                   5288
26            Romania                   6706
27  Serbia and Kosovo                      1
28           Slovakia                   9614
29           Slovenia                    777
30              Spain                  14584
31             Sweden                   4624
32        Switzerland                   6562
33                 UK                   1342

In [6]:
refugee_df.rename(columns = {' Countries':'Countries'}, inplace = True)

In [7]:
refugee_df.columns

Index(['Countries', 'Refugees in thousands'], dtype='object')

# Merging EU Economic Data with Refugee Data

In [8]:
# KeyError: 'Countries'
# result = pd.merge(economic_info,refugee_df, on="Countries")

In [9]:
def merge_dataframe(df1,df2,column):
    
    return pd.merge(df1,df2,how='outer', on=column, left_index=False, right_index=False, sort=True)

In [10]:
new_data_frame = merge_dataframe(economic_info,refugee_df,"Countries")

In [11]:
new_data_frame

,Countries,Population,Annual GDP,Annual GDP.1,GDP per capita,GDP per capita.1,HDI,Debt (M.€.),Debt ($M),Debt (%GDP),Deficit (%GDP),Refugees in thousands
0,Austria,8978929.0,"€406,149M","$477,084M","€45,370","$53,332",0.922,334162.0,395121.0,82.30%,-5.90%,8308.0
1,Belgium,11631136.0,"€502,312M","$599,107M","€43,340","$51,849",0.931,548488.0,649405.0,109.20%,-5.60%,5616.0
2,Bulgaria,6838937.0,"€71,077M","$80,327M","€10,330","$11,746",0.816,17010.0,19143.0,23.90%,-3.90%,13616.0
3,Croatia,3879074.0,"€57,200M","$67,707M","€14,750","$17,454",0.851,45743.0,54026.0,78.40%,-2.60%,185.0
4,Cyprus,904705.0,"€24,019M","$27,738M","€26,680","$30,957",0.887,24271.0,28725.0,101.00%,-1.70%,1679.0
5,Czechia,10516707.0,"€238,238M","$281,778M","€22,270","$26,849",0.900,103260.0,118395.0,42.00%,-5.10%,44226.0
6,Denmark,5873420.0,"€336,719M","$398,303M","€57,520","$68,202",0.940,123315.0,145899.0,36.60%,3.60%,335.0
7,Estonia,1331796.0,"€31,445M","$37,216M","€22,580","$27,962",0.892,5534.0,6551.0,17.60%,-2.40%,3597.0
8,Finland,5548241.0,"€251,367M","$297,575M","€45,360","$53,774",0.938,181920.0,196952.0,72.40%,-2.70%,4079.0
9,France,67842582.0,"€2,500,870M","$2,957,425M","€36,660","$45,188",0.901,2821899.0,3329379.0,112.80%,-6.50%,105.0
10,Germany,83237124.0,"€3,601,750M","$4,262,767M","€43,290","$51,238",0.947,2471628.0,2968690.0,68.60%,-3.70%,70915.0
11,Greece,10603810.0,"€181,675M","$216,384M","€17,010","$20,263",0.888,353434.0,431474.0,194.50%,-7.50%,1941.0
12,Hungary,9689010.0,"€153,759M","$182,281M","€15,840","$18,732",0.854,114715.0,139916.0,76.80%,-7.10%,30.0
13,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164.0
14,Ireland,5060005.0,"€426,283M","$504,517M","€84,940","$100,129",0.955,236073.0,279136.0,55.40%,-1.70%,5483.0
15,Italy,58983122.0,"€1,782,050M","$2,101,275M","€30,150","$35,625",0.892,2678098.0,3169955.0,150.30%,-7.20%,15761.0
16,Latvia,1875757.0,"€33,696M","$38,898M","€17,890","$20,546",0.866,14688.0,17775.0,43.60%,-7.00%,4091.0
17,Lichtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0
18,Lithuania,2805998.0,"€56,179M","$65,547M","€20,000","$23,386",0.882,24536.0,29273.0,43.70%,-1.00%,6705.0
19,Luxembourg,645397.0,"€73,314M","$86,711M","€114,370","$134,353",0.916,17729.0,21118.0,24.50%,0.80%,656.0
20,Malta,520971.0,"€14,681M","$17,376M","€28,310","$33,667",0.895,8268.0,9805.0,56.30%,-7.80%,142.0
21,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,649.0
22,Netherlands,17590672.0,"€856,356M","$1,013,520M","€48,840","$57,997",0.944,449026.0,530350.0,52.40%,-2.60%,7925.0
23,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2849.0
24,Poland,37654247.0,"€574,772M","$679,067M","€15,060","$17,946",0.880,306837.0,365276.0,53.80%,-1.80%,142248.0
25,Portugal,10352042.0,"€214,471M","$250,055M","€20,840","$24,296",0.864,269250.0,318643.0,125.50%,-2.90%,5288.0
26,Romania,19038098.0,"€240,154M","$284,086M","€12,560","$14,795",0.828,116695.0,145994.0,48.90%,-7.10%,6706.0
27,Serbia and Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
28,Slovakia,5434712.0,"€98,523M","$114,947M","€18,110","$21,053",0.860,61267.0,72501.0,62.20%,-5.50%,9614.0
29,Slovenia,2107180.0,"€52,208M","$61,790M","€24,770","$29,298",0.917,38877.0,45990.0,74.50%,-4.70%,777.0
30,Spain,47432805.0,"€1,206,842M","$1,426,224M","€25,500","$30,090",0.904,1427238.0,1690788.0,118.30%,-6.87%,14584.0
31,Sweden,10452326.0,"€537,310M","$635,664M","€51,590","$60,816",0.945,193253.0,227749.0,36.30%,-0.10%,4624.0
32,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6562.0
33,TOTAL,446828803.0,"€14,523,417M","$17,165,369M","€32,503","$38,416",NaN,12987214.0,15408026.0,89.42%,NaN,NaN
34,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1342.0

In [12]:
new_data_frame.to_csv("./data/new_data_frame.csv", index=False)

In [13]:
new_data_frame.drop([13, 17, 21, 23, 27, 32, 33, 34], axis = 0, inplace = True)

In [14]:
#new_data_frame.dropna(axis=0, inplace=True, how="all")

In [15]:
new_data_frame

,Countries,Population,Annual GDP,Annual GDP.1,GDP per capita,GDP per capita.1,HDI,Debt (M.€.),Debt ($M),Debt (%GDP),Deficit (%GDP),Refugees in thousands
0,Austria,8978929.0,"€406,149M","$477,084M","€45,370","$53,332",0.922,334162.0,395121.0,82.30%,-5.90%,8308.0
1,Belgium,11631136.0,"€502,312M","$599,107M","€43,340","$51,849",0.931,548488.0,649405.0,109.20%,-5.60%,5616.0
2,Bulgaria,6838937.0,"€71,077M","$80,327M","€10,330","$11,746",0.816,17010.0,19143.0,23.90%,-3.90%,13616.0
3,Croatia,3879074.0,"€57,200M","$67,707M","€14,750","$17,454",0.851,45743.0,54026.0,78.40%,-2.60%,185.0
4,Cyprus,904705.0,"€24,019M","$27,738M","€26,680","$30,957",0.887,24271.0,28725.0,101.00%,-1.70%,1679.0
5,Czechia,10516707.0,"€238,238M","$281,778M","€22,270","$26,849",0.900,103260.0,118395.0,42.00%,-5.10%,44226.0
6,Denmark,5873420.0,"€336,719M","$398,303M","€57,520","$68,202",0.940,123315.0,145899.0,36.60%,3.60%,335.0
7,Estonia,1331796.0,"€31,445M","$37,216M","€22,580","$27,962",0.892,5534.0,6551.0,17.60%,-2.40%,3597.0
8,Finland,5548241.0,"€251,367M","$297,575M","€45,360","$53,774",0.938,181920.0,196952.0,72.40%,-2.70%,4079.0
9,France,67842582.0,"€2,500,870M","$2,957,425M","€36,660","$45,188",0.901,2821899.0,3329379.0,112.80%,-6.50%,105.0
10,Germany,83237124.0,"€3,601,750M","$4,262,767M","€43,290","$51,238",0.947,2471628.0,2968690.0,68.60%,-3.70%,70915.0
11,Greece,10603810.0,"€181,675M","$216,384M","€17,010","$20,263",0.888,353434.0,431474.0,194.50%,-7.50%,1941.0
12,Hungary,9689010.0,"€153,759M","$182,281M","€15,840","$18,732",0.854,114715.0,139916.0,76.80%,-7.10%,30.0
14,Ireland,5060005.0,"€426,283M","$504,517M","€84,940","$100,129",0.955,236073.0,279136.0,55.40%,-1.70%,5483.0
15,Italy,58983122.0,"€1,782,050M","$2,101,275M","€30,150","$35,625",0.892,2678098.0,3169955.0,150.30%,-7.20%,15761.0
16,Latvia,1875757.0,"€33,696M","$38,898M","€17,890","$20,546",0.866,14688.0,17775.0,43.60%,-7.00%,4091.0
18,Lithuania,2805998.0,"€56,179M","$65,547M","€20,000","$23,386",0.882,24536.0,29273.0,43.70%,-1.00%,6705.0
19,Luxembourg,645397.0,"€73,314M","$86,711M","€114,370","$134,353",0.916,17729.0,21118.0,24.50%,0.80%,656.0
20,Malta,520971.0,"€14,681M","$17,376M","€28,310","$33,667",0.895,8268.0,9805.0,56.30%,-7.80%,142.0
22,Netherlands,17590672.0,"€856,356M","$1,013,520M","€48,840","$57,997",0.944,449026.0,530350.0,52.40%,-2.60%,7925.0
24,Poland,37654247.0,"€574,772M","$679,067M","€15,060","$17,946",0.880,306837.0,365276.0,53.80%,-1.80%,142248.0
25,Portugal,10352042.0,"€214,471M","$250,055M","€20,840","$24,296",0.864,269250.0,318643.0,125.50%,-2.90%,5288.0
26,Romania,19038098.0,"€240,154M","$284,086M","€12,560","$14,795",0.828,116695.0,145994.0,48.90%,-7.10%,6706.0
28,Slovakia,5434712.0,"€98,523M","$114,947M","€18,110","$21,053",0.860,61267.0,72501.0,62.20%,-5.50%,9614.0
29,Slovenia,2107180.0,"€52,208M","$61,790M","€24,770","$29,298",0.917,38877.0,45990.0,74.50%,-4.70%,777.0
30,Spain,47432805.0,"€1,206,842M","$1,426,224M","€25,500","$30,090",0.904,1427238.0,1690788.0,118.30%,-6.87%,14584.0
31,Sweden,10452326.0,"€537,310M","$635,664M","€51,590","$60,816",0.945,193253.0,227749.0,36.30%,-0.10%,4624.0

In [16]:
new_data_frame.to_csv("./data/new_data_frame.csv", index=False)

## Distance Data

In [17]:
distance_df= pd.read_csv("./data/distance_df.csv")

In [18]:
distance_df["Countries to sort"].to_string()

'0                       Distance from Andorra to Ukraine\n1          Distance from United Arab Emirates to Ukraine\n2                   Distance from Afghanistan to Ukraine\n3           Distance from Antigua and Barbuda to Ukraine\n4                      Distance from Anguilla to Ukraine\n5                       Distance from Albania to Ukraine\n6                       Distance from Armenia to Ukraine\n7                        Distance from Angola to Ukraine\n8                    Distance from Antarctica to Ukraine\n9                     Distance from Argentina to Ukraine\n10               Distance from American Samoa to Ukraine\n11                      Distance from Austria to Ukraine\n12                    Distance from Australia to Ukraine\n13                        Distance from Aruba to Ukraine\n14                Distance from Aland Islands to Ukraine\n15                   Distance from Azerbaijan to Ukraine\n16       Distance from Bosnia and Herzegovina to Ukraine\n17                     Distance from Barbados to Ukraine\n18                   Distance from Bangladesh to Ukraine\n19                      Distance from Belgium to Ukraine\n20                 Distance from Burkina Faso to Ukraine\n21                     Distance from Bulgaria to Ukraine\n22                      Distance from Bahrain to Ukraine\n23                      Distance from Burundi to Ukraine\n24                        Distance from Benin to Ukraine\n25             Distance from Saint Barthelemy to Ukraine\n26                      Distance from Bermuda to Ukraine\n27                       Distance from Brunei to Ukraine\n28                      Distance from Bolivia to Ukraine\n29     Distance from Bonaire, Saint Eustatius and Sab...\n30                       Distance from Brazil to Ukraine\n31                      Distance from Bahamas to Ukraine\n32                       Distance from Bhutan to Ukraine\n33                Distance from Bouvet Island to Ukraine\n34                     Distance from Botswana to Ukraine\n35                      Distance from Belarus to Ukraine\n36                       Distance from Canada to Ukraine\n37                Distance from Cocos Islands to Ukraine\n38     Distance from Democratic Republic of the Congo...\n39     Distance from Central African Republic to Ukraine\n40        Distance from Republic of the Congo to Ukraine\n41                  Distance from Switzerland to Ukraine\n42                  Distance from Ivory Coast to Ukraine\n43                 Distance from Cook Islands to Ukraine\n44                        Distance from Chile to Ukraine\n45                     Distance from Cameroon to Ukraine\n46                        Distance from China to Ukraine\n47                     Distance from Colombia to Ukraine\n48                   Distance from Costa Rica to Ukraine\n49                         Distance from Cuba to Ukraine\n50                   Distance from Cape Verde to Ukraine\n51                      Distance from Curacao to Ukraine\n52             Distance from Christmas Island to Ukraine\n53                       Distance from Cyprus to Ukraine\n54               Distance from Czech Republic to Ukraine\n55                      Distance from Germany to Ukraine\n56                      Distance from Denmark to Ukraine\n57                     Distance from Dominica to Ukraine\n58           Distance from Dominican Republic to Ukraine\n59                      Distance from Algeria to Ukraine\n60                      Distance from Ecuador to Ukraine\n61                      Distance from Estonia to Ukraine\n62                        Distance from Egypt to Ukraine\n63               Distance from Western Sahara to Ukraine\n64                      Distance from Eritrea to Ukraine\n65                        Distance from Spain to Ukraine\n66                     Distance from Ethiopia to Ukraine\n67                      Distance from Finland to Ukraine\n68                         Distance from Fiji to Ukraine\n69             Distance from Falkland Islands to Ukraine\n70                   Distance from Micronesia to Ukraine\n71                Distance from Faroe Islands to Ukraine\n72                       Distance from France to Ukraine\n73                        Distance from Gabon to Ukraine\n74               Distance from United Kingdom to Ukraine\n75                      Distance from Grenada to Ukraine\n76                Distance from French Guiana to Ukraine\n77                     Distance from Guernsey to Ukraine\n78                        Distance from Ghana to Ukraine\n79                    Distance from Gibraltar to Ukraine\n80                    Distance from Greenland to Ukraine\n81                       Distance from Gambia to Ukraine\n82                       Distance from Guinea to Ukraine\n83            Distance from Equatorial Guinea to Ukraine\n84                       Distance from Greece to Ukraine\n85     Distance from South Georgia and the South Sand...\n86                         Distance from Guam to Ukraine\n87                Distance from Guinea-Bissau to Ukraine\n88                       Distance from Guyana to Ukraine\n89                    Distance from Hong Kong to Ukraine\n90     Distance from Heard Island and McDonald Island...\n91                     Distance from Honduras to Ukraine\n92                      Distance from Croatia to Ukraine\n93                        Distance from Haiti to Ukraine\n94                      Distance from Hungary to Ukraine\n95                    Distance from Indonesia to Ukraine\n96                      Distance from Ireland to Ukraine\n97                       Distance from Israel to Ukraine\n98                  Distance from Isle of Man to Ukraine\n99                        Distance from India to Ukraine\n100    Distance from British Indian Ocean Territory t...\n101                        Distance from Iraq to Ukraine\n102                        Distance from Iran to Ukraine\n103                     Distance from Iceland to Ukraine\n104                       Distance from Italy to Ukraine\n105                      Distance from Jersey to Ukraine\n106                     Distance from Jamaica to Ukraine\n107                      Distance from Jordan to Ukraine\n108                       Distance from Japan to Ukraine\n109                       Distance from Kenya to Ukraine\n110                  Distance from Kyrgyzstan to Ukraine\n111                    Distance from Cambodia to Ukraine\n112                    Distance from Kiribati to Ukraine\n113                     Distance from Comoros to Ukraine\n114       Distance from Saint Kitts and Nevis to Ukraine\n115                 Distance from North Korea to Ukraine\n116                 Distance from South Korea to Ukraine\n117                      Distance from Kosovo to Ukraine\n118                      Distance from Kuwait to Ukraine\n119              Distance from Cayman Islands to Ukraine\n120                  Distance from Kazakhstan to Ukraine\n121                        Distance from Laos to Ukraine\n122                     Distance from Lebanon to Ukraine\n123               Distance from Liechtenstein to Ukraine\n124                   Distance from Sri Lanka to Ukraine\n125                     Distance from Liberia to Ukraine\n126                     Distance from Lesotho to Ukraine\n127                   Distance from Lithuania to Ukraine\n128                      Distance from Latvia to Ukraine\n129                       Distance from Libya to Ukraine\n130                     Distance from Morocco to Ukraine\n131                      Distance from Monaco to Ukraine\n132                     Distance from Moldova to Ukraine\n133                  Distance from Montenegro to Ukraine\n134                Distance from Saint Martin to Ukraine\n135                  Distance from Madagascar to Ukraine\n136            Distance from Marshall Islands to Ukraine\n137                   Distance from Macedonia to Ukraine\n138                        Distance from Mali to Ukraine\n139                     Distance from Myanmar to Ukraine\n140                    Distance from Mongolia to Ukraine\n141                       Distance from Macao to Ukraine\n142    Distance from Northern Mariana Islands to Ukraine\n143                  Distance from Mauritania to Ukraine\n144                  Distance from Montserrat to Ukraine\n145                       Distance from Malta to Ukraine\n146                   Distance from Mauritius to Ukraine\n147                    Distance from Maldives to Ukraine\n148                      Distance from Malawi to Ukraine\n149                    Distance from Malaysia to Ukraine\n150                  Distance from Mozambique to Ukraine\n151                     Distance from Namibia to Ukraine\n152               Distance from New Caledonia to Ukraine\n153              Distance from Norfolk Island to Ukraine\n154                     Distance from Nigeria to Ukraine\n155                   Distance from Nicaragua to Ukraine\n156                 Distance from Netherlands to Ukraine\n157                      Distance from Norway to Ukraine\n158                       Distance from Nepal to Ukraine\n159                       Distance from Nauru to Ukraine\n160                        Distance from Niue to Ukraine\n161                 Distance from New Zealand to Ukraine\n162                        Distance from Oman to Ukraine\n163                        Distance from Peru to Ukraine\n164            Distance from French Polynesia to Ukraine\n165            Distance from Papua New Guinea to Ukraine\n166                 Distance from Philippines to Ukraine\n167                    Distance from Pakistan to Ukraine\n168                      Distance from Poland to Ukraine\n169    Distance from Saint Pierre and Miquelon to Ukr...\n170                    Distance from Pitcairn to Ukraine\n171                 Distance from Puerto Rico to Ukraine\n172       Distance from Palestinian Territory to Ukraine\n173                    Distance from Portugal to Ukraine\n174                       Distance from Palau to Ukraine\n175                    Distance from Paraguay to Ukraine\n176                       Distance from Qatar to Ukraine\n177                     Distance from Romania to Ukraine\n178                      Distance from Serbia to Ukraine\n179                      Distance from Russia to Ukraine\n180                      Distance from Rwanda to Ukraine\n181                Distance from Saudi Arabia to Ukraine\n182             Distance from Solomon Islands to Ukraine\n183                  Distance from Seychelles to Ukraine\n184                       Distance from Sudan to Ukraine\n185                 Distance from South Sudan to Ukraine\n186                      Distance from Sweden to Ukraine\n187                   Distance from Singapore to Ukraine\n188                    Distance from Slovenia to Ukraine\n189      Distance from Svalbard and Jan Mayen to Ukraine\n190                    Distance from Slovakia to Ukraine\n191                Distance from Sierra Leone to Ukraine\n192                     Distance from Senegal to Ukraine\n193                     Distance from Somalia to Ukraine\n194                    Distance from Suriname to Ukraine\n195       Distance from Sao Tome and Principe to Ukraine\n196                 Distance from El Salvador to Ukraine\n197                Distance from Sint Maarten to Ukraine\n198                       Distance from Syria to Ukraine\n199                   Distance from Swaziland to Ukraine\n200    Distance from Turks and Caicos Islands to Ukraine\n201                        Distance from Chad to Ukraine\n202    Distance from French Southern Territories to U...\n203                        Distance from Togo to Ukraine\n204                    Distance from Thailand to Ukraine\n205                  Distance from Tajikistan to Ukraine\n206                     Distance from Tokelau to Ukraine\n207                  Distance from East Timor to Ukraine\n208                Distance from Turkmenistan to Ukraine\n209                     Distance from Tunisia to Ukraine\n210                       Distance from Tonga to Ukraine\n211                      Distance from Turkey to Ukraine\n212         Distance from Trinidad and Tobago to Ukraine\n213                      Distance from Tuvalu to Ukraine\n214                    Distance from Tanzania to Ukraine\n215                      Distance from Ukraine to Uganda\n216    Distance from Ukraine to United States Minor O...\n217               Distance from Ukraine to United States\n218                     Distance from Ukraine to Uruguay\n219                  Distance from Ukraine to Uzbekistan\n220                     Distance from Ukraine to Vatican\n221    Distance from Ukraine to Saint Vincent and the...\n222                   Distance from Ukraine to Venezuela\n223      Distance from Ukraine to British Virgin Islands\n224         Distance from Ukraine to U.S. Virgin Islands\n225                     Distance from Ukraine to Vietnam\n226                     Distance from Ukraine to Vanuatu\n227           Distance from Ukraine to Wallis and Futuna\n228                       Distance from Ukraine to Samoa\n229                       Distance from Ukraine to Yemen\n230                     Distance from Ukraine to Mayotte\n231                Distance from Ukraine to South Africa\n232                      Distance from Ukraine to Zambia\n233                    Distance from Ukraine to Zimbabwe\n234        Distance from Ukraine to Netherlands Antilles\n235                      Distance from Ukraine to Belize\n236                    Distance from Ukraine to Djibouti\n237                     Distance from Ukraine to Georgia\n238                  Distance from Ukraine to Guadeloupe\n239                   Distance from Ukraine to Guatemala\n240                 Distance from Ukraine to Saint Lucia\n241                  Distance from Ukraine to Luxembourg\n242                  Distance from Ukraine to Martinique\n243                      Distance from Ukraine to Mexico\n244                       Distance from Ukraine to Niger\n245                      Distance from Ukraine to Panama\n246                     Distance from Ukraine to Reunion\n247                Distance from Ukraine to Saint Helena\n248                  Distance from Ukraine to San Marino\n249                      Distance from Ukraine to Taiwan'

In [19]:
distance_df["Countries to sort"].unique()

array(['Distance from Andorra to Ukraine',
       'Distance from United Arab Emirates to Ukraine',
       'Distance from Afghanistan to Ukraine',
       'Distance from Antigua and Barbuda to Ukraine',
       'Distance from Anguilla to Ukraine',
       'Distance from Albania to Ukraine',
       'Distance from Armenia to Ukraine',
       'Distance from Angola to Ukraine',
       'Distance from Antarctica to Ukraine',
       'Distance from Argentina to Ukraine',
       'Distance from American Samoa to Ukraine',
       'Distance from Austria to Ukraine',
       'Distance from Australia to Ukraine',
       'Distance from Aruba to Ukraine',
       'Distance from Aland Islands to Ukraine',
       'Distance from Azerbaijan to Ukraine',
       'Distance from Bosnia and Herzegovina to Ukraine',
       'Distance from Barbados to Ukraine',
       'Distance from Bangladesh to Ukraine',
       'Distance from Belgium to Ukraine',
       'Distance from Burkina Faso to Ukraine',
       'Distance from Bulgaria to Ukraine',
       'Distance from Bahrain to Ukraine',
       'Distance from Burundi to Ukraine',
       'Distance from Benin to Ukraine',
       'Distance from Saint Barthelemy to Ukraine',
       'Distance from Bermuda to Ukraine',
       'Distance from Brunei to Ukraine',
       'Distance from Bolivia to Ukraine',
       'Distance from Bonaire, Saint Eustatius and Saba to Ukraine',
       'Distance from Brazil to Ukraine',
       'Distance from Bahamas to Ukraine',
       'Distance from Bhutan to Ukraine',
       'Distance from Bouvet Island to Ukraine',
       'Distance from Botswana to Ukraine',
       'Distance from Belarus to Ukraine',
       'Distance from Canada to Ukraine',
       'Distance from Cocos Islands to Ukraine',
       'Distance from Democratic Republic of the Congo to Ukraine',
       'Distance from Central African Republic to Ukraine',
       'Distance from Republic of the Congo to Ukraine',
       'Distance from Switzerland to Ukraine',
       'Distance from Ivory Coast to Ukraine',
       'Distance from Cook Islands to Ukraine',
       'Distance from Chile to Ukraine',
       'Distance from Cameroon to Ukraine',
       'Distance from China to Ukraine',
       'Distance from Colombia to Ukraine',
       'Distance from Costa Rica to Ukraine',
       'Distance from Cuba to Ukraine',
       'Distance from Cape Verde to Ukraine',
       'Distance from Curacao to Ukraine',
       'Distance from Christmas Island to Ukraine',
       'Distance from Cyprus to Ukraine',
       'Distance from Czech Republic to Ukraine',
       'Distance from Germany to Ukraine',
       'Distance from Denmark to Ukraine',
       'Distance from Dominica to Ukraine',
       'Distance from Dominican Republic to Ukraine',
       'Distance from Algeria to Ukraine',
       'Distance from Ecuador to Ukraine',
       'Distance from Estonia to Ukraine',
       'Distance from Egypt to Ukraine',
       'Distance from Western Sahara to Ukraine',
       'Distance from Eritrea to Ukraine',
       'Distance from Spain to Ukraine',
       'Distance from Ethiopia to Ukraine',
       'Distance from Finland to Ukraine',
       'Distance from Fiji to Ukraine',
       'Distance from Falkland Islands to Ukraine',
       'Distance from Micronesia to Ukraine',
       'Distance from Faroe Islands to Ukraine',
       'Distance from France to Ukraine',
       'Distance from Gabon to Ukraine',
       'Distance from United Kingdom to Ukraine',
       'Distance from Grenada to Ukraine',
       'Distance from French Guiana to Ukraine',
       'Distance from Guernsey to Ukraine',
       'Distance from Ghana to Ukraine',
       'Distance from Gibraltar to Ukraine',
       'Distance from Greenland to Ukraine',
       'Distance from Gambia to Ukraine',
       'Distance from Guinea to Ukraine',
       'Distance from Equatorial Guinea to Ukraine',
       'Distance from Greece to Ukraine',
       'Distance from South Georgia and the South Sandwich Islands to Ukraine',
       'Distance from Guam to Ukraine',
       'Distance from Guinea-Bissau to Ukraine',
       'Distance from Guyana to Ukraine',
       'Distance from Hong Kong to Ukraine',
       'Distance from Heard Island and McDonald Islands to Ukraine',
       'Distance from Honduras to Ukraine',
       'Distance from Croatia to Ukraine',
       'Distance from Haiti to Ukraine',
       'Distance from Hungary to Ukraine',
       'Distance from Indonesia to Ukraine',
       'Distance from Ireland to Ukraine',
       'Distance from Israel to Ukraine',
       'Distance from Isle of Man to Ukraine',
       'Distance from India to Ukraine',
       'Distance from British Indian Ocean Territory to Ukraine',
       'Distance from Iraq to Ukraine', 'Distance from Iran to Ukraine',
       'Distance from Iceland to Ukraine',
       'Distance from Italy to Ukraine',
       'Distance from Jersey to Ukraine',
       'Distance from Jamaica to Ukraine',
       'Distance from Jordan to Ukraine',
       'Distance from Japan to Ukraine', 'Distance from Kenya to Ukraine',
       'Distance from Kyrgyzstan to Ukraine',
       'Distance from Cambodia to Ukraine',
       'Distance from Kiribati to Ukraine',
       'Distance from Comoros to Ukraine',
       'Distance from Saint Kitts and Nevis to Ukraine',
       'Distance from North Korea to Ukraine',
       'Distance from South Korea to Ukraine',
       'Distance from Kosovo to Ukraine',
       'Distance from Kuwait to Ukraine',
       'Distance from Cayman Islands to Ukraine',
       'Distance from Kazakhstan to Ukraine',
       'Distance from Laos to Ukraine',
       'Distance from Lebanon to Ukraine',
       'Distance from Liechtenstein to Ukraine',
       'Distance from Sri Lanka to Ukraine',
       'Distance from Liberia to Ukraine',
       'Distance from Lesotho to Ukraine',
       'Distance from Lithuania to Ukraine',
       'Distance from Latvia to Ukraine',
       'Distance from Libya to Ukraine',
       'Distance from Morocco to Ukraine',
       'Distance from Monaco to Ukraine',
       'Distance from Moldova to Ukraine',
       'Distance from Montenegro to Ukraine',
       'Distance from Saint Martin to Ukraine',
       'Distance from Madagascar to Ukraine',
       'Distance from Marshall Islands to Ukraine',
       'Distance from Macedonia to Ukraine',
       'Distance from Mali to Ukraine',
       'Distance from Myanmar to Ukraine',
       'Distance from Mongolia to Ukraine',
       'Distance from Macao to Ukraine',
       'Distance from Northern Mariana Islands to Ukraine',
       'Distance from Mauritania to Ukraine',
       'Distance from Montserrat to Ukraine',
       'Distance from Malta to Ukraine',
       'Distance from Mauritius to Ukraine',
       'Distance from Maldives to Ukraine',
       'Distance from Malawi to Ukraine',
       'Distance from Malaysia to Ukraine',
       'Distance from Mozambique to Ukraine',
       'Distance from Namibia to Ukraine',
       'Distance from New Caledonia to Ukraine',
       'Distance from Norfolk Island to Ukraine',
       'Distance from Nigeria to Ukraine',
       'Distance from Nicaragua to Ukraine',
       'Distance from Netherlands to Ukraine',
       'Distance from Norway to Ukraine',
       'Distance from Nepal to Ukraine', 'Distance from Nauru to Ukraine',
       'Distance from Niue to Ukraine',
       'Distance from New Zealand to Ukraine',
       'Distance from Oman to Ukraine', 'Distance from Peru to Ukraine',
       'Distance from French Polynesia to Ukraine',
       'Distance from Papua New Guinea to Ukraine',
       'Distance from Philippines to Ukraine',
       'Distance from Pakistan to Ukraine',
       'Distance from Poland to Ukraine',
       'Distance from Saint Pierre and Miquelon to Ukraine',
       'Distance from Pitcairn to Ukraine',
       'Distance from Puerto Rico to Ukraine',
       'Distance from Palestinian Territory to Ukraine',
       'Distance from Portugal to Ukraine',
       'Distance from Palau to Ukraine',
       'Distance from Paraguay to Ukraine',
       'Distance from Qatar to Ukraine',
       'Distance from Romania to Ukraine',
       'Distance from Serbia to Ukraine',
       'Distance from Russia to Ukraine',
       'Distance from Rwanda to Ukraine',
       'Distance from Saudi Arabia to Ukraine',
       'Distance from Solomon Islands to Ukraine',
       'Distance from Seychelles to Ukraine',
       'Distance from Sudan to Ukraine',
       'Distance from South Sudan to Ukraine',
       'Distance from Sweden to Ukraine',
       'Distance from Singapore to Ukraine',
       'Distance from Slovenia to Ukraine',
       'Distance from Svalbard and Jan Mayen to Ukraine',
       'Distance from Slovakia to Ukraine',
       'Distance from Sierra Leone to Ukraine',
       'Distance from Senegal to Ukraine',
       'Distance from Somalia to Ukraine',
       'Distance from Suriname to Ukraine',
       'Distance from Sao Tome and Principe to Ukraine',
       'Distance from El Salvador to Ukraine',
       'Distance from Sint Maarten to Ukraine',
       'Distance from Syria to Ukraine',
       'Distance from Swaziland to Ukraine',
       'Distance from Turks and Caicos Islands to Ukraine',
       'Distance from Chad to Ukraine',
       'Distance from French Southern Territories to Ukraine',
       'Distance from Togo to Ukraine',
       'Distance from Thailand to Ukraine',
       'Distance from Tajikistan to Ukraine',
       'Distance from Tokelau to Ukraine',
       'Distance from East Timor to Ukraine',
       'Distance from Turkmenistan to Ukraine',
       'Distance from Tunisia to Ukraine',
       'Distance from Tonga to Ukraine',
       'Distance from Turkey to Ukraine',
       'Distance from Trinidad and Tobago to Ukraine',
       'Distance from Tuvalu to Ukraine',
       'Distance from Tanzania to Ukraine',
       'Distance from Ukraine to Uganda',
       'Distance from Ukraine to United States Minor Outlying Islands',
       'Distance from Ukraine to United States',
       'Distance from Ukraine to Uruguay',
       'Distance from Ukraine to Uzbekistan',
       'Distance from Ukraine to Vatican',
       'Distance from Ukraine to Saint Vincent and the Grenadines',
       'Distance from Ukraine to Venezuela',
       'Distance from Ukraine to British Virgin Islands',
       'Distance from Ukraine to U.S. Virgin Islands',
       'Distance from Ukraine to Vietnam',
       'Distance from Ukraine to Vanuatu',
       'Distance from Ukraine to Wallis and Futuna',
       'Distance from Ukraine to Samoa', 'Distance from Ukraine to Yemen',
       'Distance from Ukraine to Mayotte',
       'Distance from Ukraine to South Africa',
       'Distance from Ukraine to Zambia',
       'Distance from Ukraine to Zimbabwe',
       'Distance from Ukraine to Netherlands Antilles',
       'Distance from Ukraine to Belize',
       'Distance from Ukraine to Djibouti',
       'Distance from Ukraine to Georgia',
       'Distance from Ukraine to Guadeloupe',
       'Distance from Ukraine to Guatemala',
       'Distance from Ukraine to Saint Lucia',
       'Distance from Ukraine to Luxembourg',
       'Distance from Ukraine to Martinique',
       'Distance from Ukraine to Mexico',
       'Distance from Ukraine to Niger',
       'Distance from Ukraine to Panama',
       'Distance from Ukraine to Reunion',
       'Distance from Ukraine to Saint Helena',
       'Distance from Ukraine to San Marino',
       'Distance from Ukraine to Taiwan'], dtype=object)

In [27]:
distance_df.head()

,Countries to sort,Distance from Ukraine in km,Mileage
0,Distance from Andorra to Ukraine,"2,386","1,483 miles"
1,Distance from United Arab Emirates to Ukraine,"3,418","2,124 miles"
2,Distance from Afghanistan to Ukraine,"3,411","2,119 miles"
3,Distance from Antigua and Barbuda to Ukraine,"8,812","5,476 miles"
4,Distance from Anguilla to Ukraine,"8,808","5,473 miles"

In [21]:
distance_df.columns

Index(['Countries to sort', 'Distance from Ukraine in km', 'Mileage'], dtype='object')

In [22]:
# regrez to remove km from distance
distance_df["Distance from Ukraine in km"] = distance_df["Distance from Ukraine in km"].str.extract(r"(\d,\d{1,})")

In [23]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
0,Distance from Andorra to Ukraine,"2,386","1,483 miles"
1,Distance from United Arab Emirates to Ukraine,"3,418","2,124 miles"
2,Distance from Afghanistan to Ukraine,"3,411","2,119 miles"
3,Distance from Antigua and Barbuda to Ukraine,"8,812","5,476 miles"
4,Distance from Anguilla to Ukraine,"8,808","5,473 miles"
...,...,...,...
245,Distance from Ukraine to Panama,"0,867","6,752 miles"
246,Distance from Ukraine to Reunion,"8,099","5,032 miles"
247,Distance from Ukraine to Saint Helena,"8,032","4,991 miles"
248,Distance from Ukraine to San Marino,"1,518",943 miles
249,Distance from Ukraine to Taiwan,"8,049","5,001 miles"

In [25]:
distance_df.sort_values(by='Distance from Ukraine in km',ascending=True)

,Countries to sort,Distance from Ukraine in km,Mileage
222,Distance from Ukraine to Venezuela,"0,042","6,240 miles"
174,Distance from Palau to Ukraine,"0,358","6,436 miles"
142,Distance from Northern Mariana Islands to Ukraine,"0,462","6,501 miles"
86,Distance from Guam to Ukraine,"0,550","6,555 miles"
235,Distance from Ukraine to Belize,"0,602","6,588 miles"
...,...,...,...
132,Distance from Moldova to Ukraine,NaN,146 miles
168,Distance from Poland to Ukraine,NaN,585 miles
177,Distance from Romania to Ukraine,NaN,336 miles
178,Distance from Serbia to Ukraine,NaN,571 miles
190,Distance from Slovakia to Ukraine,NaN,524 miles

In [28]:
distance_df["Mileage"] = distance_df["Mileage"].str.extract(r"(\d,\d{1,})")

In [29]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
0,Distance from Andorra to Ukraine,"2,386","1,483"
1,Distance from United Arab Emirates to Ukraine,"3,418","2,124"
2,Distance from Afghanistan to Ukraine,"3,411","2,119"
3,Distance from Antigua and Barbuda to Ukraine,"8,812","5,476"
4,Distance from Anguilla to Ukraine,"8,808","5,473"
...,...,...,...
245,Distance from Ukraine to Panama,"0,867","6,752"
246,Distance from Ukraine to Reunion,"8,099","5,032"
247,Distance from Ukraine to Saint Helena,"8,032","4,991"
248,Distance from Ukraine to San Marino,"1,518",NaN
249,Distance from Ukraine to Taiwan,"8,049","5,001"

In [30]:
distance_df.to_csv("./data/distance_df.csv", index=False)

In [31]:
distance_df.drop([0, 1, 2, 3, 4, 245, 246, 247, 248, 249], axis = 0, inplace = True)

In [32]:
distance_df

                        Countries to sort Distance from Ukraine in km Mileage
5        Distance from Albania to Ukraine                       1,181     NaN
6        Distance from Armenia to Ukraine                       1,437     NaN
7         Distance from Angola to Ukraine                       6,753   4,196
8     Distance from Antarctica to Ukraine                       6,154   0,038
9      Distance from Argentina to Ukraine                       3,402   8,328
..                                    ...                         ...     ...
240  Distance from Ukraine to Saint Lucia                       9,012   5,600
241   Distance from Ukraine to Luxembourg                       1,821   1,132
242   Distance from Ukraine to Martinique                       8,955   5,564
243       Distance from Ukraine to Mexico                       0,779   6,698
244        Distance from Ukraine to Niger                       4,008   2,490

[240 rows x 3 columns]

In [33]:
distance_df.drop([5, 6, 7, 8, 9, 240, 242, 243, 244], axis = 0, inplace = True)

In [34]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
10,Distance from American Samoa to Ukraine,"5,728","9,773"
11,Distance from Austria to Ukraine,"1,239",NaN
12,Distance from Australia to Ukraine,"2,983","8,067"
13,Distance from Aruba to Ukraine,"9,773","6,073"
14,Distance from Aland Islands to Ukraine,"1,497",NaN
...,...,...,...
236,Distance from Ukraine to Djibouti,"4,200","2,610"
237,Distance from Ukraine to Georgia,"1,165",NaN
238,Distance from Ukraine to Guadeloupe,"8,860","5,505"
239,Distance from Ukraine to Guatemala,"0,836","6,733"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [35]:
distance_df.drop([10, 12, 13, 14, 236, 237, 238, 239], axis = 0, inplace = True)

In [36]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
15,Distance from Azerbaijan to Ukraine,"1,591",NaN
16,Distance from Bosnia and Herzegovina to Ukraine,"1,149",NaN
17,Distance from Barbados to Ukraine,"8,967","5,572"
18,Distance from Bangladesh to Ukraine,"5,813","3,612"
...,...,...,...
232,Distance from Ukraine to Zambia,"6,848","4,255"
233,Distance from Ukraine to Zimbabwe,"7,497","4,658"
234,Distance from Ukraine to Netherlands Antilles,"9,678","6,014"
235,Distance from Ukraine to Belize,"0,602","6,588"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [37]:
distance_df.drop([15, 17, 18, 232, 233, 235], axis = 0, inplace = True)

In [46]:
distance_df.sample(200)

,Countries to sort,Distance from Ukraine in km,Mileage
58,Distance from Dominican Republic to Ukraine,"9,263","5,756"
115,Distance from North Korea to Ukraine,"7,190","4,468"
128,Distance from Latvia to Ukraine,"1,043",NaN
147,Distance from Maldives to Ukraine,"6,552","4,071"
171,Distance from Puerto Rico to Ukraine,"9,057","5,628"
...,...,...,...
221,Distance from Ukraine to Saint Vincent and the...,"9,082","5,643"
69,Distance from Falkland Islands to Ukraine,"4,047","8,728"
36,Distance from Canada to Ukraine,"7,745","4,813"
96,Distance from Ireland to Ukraine,"2,783","1,729"
26,Distance from Bermuda to Ukraine,"7,786","4,838"

In [45]:
distance_df.drop([217,45, 81,185,60, 196, 214], axis = 0, inplace = True)

In [48]:
distance_df.sample(200)

,Countries to sort,Distance from Ukraine in km,Mileage
139,Distance from Myanmar to Ukraine,"6,362","3,953"
92,Distance from Croatia to Ukraine,"1,267",NaN
220,Distance from Ukraine to Vatican,"1,629","1,012"
22,Distance from Bahrain to Ukraine,"2,998","1,863"
157,Distance from Norway to Ukraine,"1,972","1,225"
...,...,...,...
132,Distance from Moldova to Ukraine,NaN,NaN
47,Distance from Colombia to Ukraine,"0,754","6,682"
190,Distance from Slovakia to Ukraine,NaN,NaN
74,Distance from United Kingdom to Ukraine,"2,470","1,535"
90,Distance from Heard Island and McDonald Island...,"1,967","7,436"

In [49]:
distance_df.drop([139,220, 22, 157 , 132, 47, 74, 90], axis = 0, inplace = True)

In [50]:
distance_df.sample(200)

,Countries to sort,Distance from Ukraine in km,Mileage
98,Distance from Isle of Man to Ukraine,"2,537","1,576"
58,Distance from Dominican Republic to Ukraine,"9,263","5,756"
190,Distance from Slovakia to Ukraine,NaN,NaN
186,Distance from Sweden to Ukraine,"1,533",NaN
171,Distance from Puerto Rico to Ukraine,"9,057","5,628"
...,...,...,...
169,Distance from Saint Pierre and Miquelon to Ukr...,"6,177","3,838"
207,Distance from East Timor to Ukraine,"1,080","6,885"
83,Distance from Equatorial Guinea to Ukraine,"5,568","3,460"
146,Distance from Mauritius to Ukraine,"8,080","5,021"
109,Distance from Kenya to Ukraine,"5,421","3,368"

In [51]:
distance_df.drop([98, 58, 171, 169, 207, 83, 146, 109], axis = 0, inplace = True)

In [52]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
16,Distance from Bosnia and Herzegovina to Ukraine,"1,149",NaN
19,Distance from Belgium to Ukraine,"1,934","1,202"
20,Distance from Burkina Faso to Ukraine,"5,027","3,124"
21,Distance from Bulgaria to Ukraine,NaN,NaN
...,...,...,...
229,Distance from Ukraine to Yemen,"3,979","2,472"
230,Distance from Ukraine to Mayotte,"6,945","4,315"
231,Distance from Ukraine to South Africa,"8,816","5,478"
234,Distance from Ukraine to Netherlands Antilles,"9,678","6,014"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [53]:
distance_df.sample(121)

,Countries to sort,Distance from Ukraine in km,Mileage
219,Distance from Ukraine to Uzbekistan,"2,722","1,691"
108,Distance from Japan to Ukraine,"8,172","5,078"
183,Distance from Seychelles to Ukraine,"6,356","3,949"
134,Distance from Saint Martin to Ukraine,"8,818","5,479"
140,Distance from Mongolia to Ukraine,"5,237","3,254"
...,...,...,...
77,Distance from Guernsey to Ukraine,"2,448","1,521"
205,Distance from Tajikistan to Ukraine,"3,354","2,084"
202,Distance from French Southern Territories to U...,"1,460","7,121"
124,Distance from Sri Lanka to Ukraine,"6,458","4,013"
195,Distance from Sao Tome and Principe to Ukraine,"5,855","3,638"

In [54]:
distance_df.drop([219, 108, 183, 134, 140, 77, 205, 202, 124, 195], axis = 0, inplace = True)

In [60]:
distance_df.tail(10)

,Countries to sort,Distance from Ukraine in km,Mileage
224,Distance from Ukraine to U.S. Virgin Islands,"8,928","5,548"
225,Distance from Ukraine to Vietnam,"7,897","4,907"
226,Distance from Ukraine to Vanuatu,"4,577","9,058"
227,Distance from Ukraine to Wallis and Futuna,"5,372","9,552"
228,Distance from Ukraine to Samoa,"5,611","9,700"
229,Distance from Ukraine to Yemen,"3,979","2,472"
230,Distance from Ukraine to Mayotte,"6,945","4,315"
231,Distance from Ukraine to South Africa,"8,816","5,478"
234,Distance from Ukraine to Netherlands Antilles,"9,678","6,014"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [61]:
distance_df.drop([224, 225, 226, 227, 228, 229, 230, 231, 234], axis = 0, inplace = True)

In [62]:
distance_df.tail(10)

,Countries to sort,Distance from Ukraine in km,Mileage
211,Distance from Turkey to Ukraine,"1,097",NaN
212,Distance from Trinidad and Tobago to Ukraine,"9,296","5,776"
213,Distance from Tuvalu to Ukraine,"4,539","9,034"
215,Distance from Ukraine to Uganda,"5,228","3,249"
216,Distance from Ukraine to United States Minor O...,"1,291","7,016"
218,Distance from Ukraine to Uruguay,"2,435","7,727"
221,Distance from Ukraine to Saint Vincent and the...,"9,082","5,643"
222,Distance from Ukraine to Venezuela,"0,042","6,240"
223,Distance from Ukraine to British Virgin Islands,"8,903","5,532"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [63]:
distance_df.drop([211, 212, 215, 216, 218,221,222,223], axis = 0, inplace = True)

In [68]:
distance_df.tail(10)

,Countries to sort,Distance from Ukraine in km,Mileage
179,Distance from Russia to Ukraine,"4,666","2,899"
180,Distance from Rwanda to Ukraine,"5,597","3,478"
181,Distance from Saudi Arabia to Ukraine,"2,986","1,855"
182,Distance from Solomon Islands to Ukraine,"3,621","8,464"
184,Distance from Sudan to Ukraine,"3,950","2,454"
186,Distance from Sweden to Ukraine,"1,533",NaN
187,Distance from Singapore to Ukraine,"8,623","5,358"
188,Distance from Slovenia to Ukraine,"1,243",NaN
190,Distance from Slovakia to Ukraine,NaN,NaN
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [69]:
distance_df.drop([179,180,181,182,184,187], axis = 0, inplace = True)

In [88]:
distance_df.sample(20)

,Countries to sort,Distance from Ukraine in km,Mileage
144,Distance from Montserrat to Ukraine,"8,866","5,509"
103,Distance from Iceland to Ukraine,"3,445","2,141"
97,Distance from Israel to Ukraine,"1,952","1,213"
16,Distance from Bosnia and Herzegovina to Ukraine,"1,149",NaN
164,Distance from French Polynesia to Ukraine,"6,601","0,315"
54,Distance from Czech Republic to Ukraine,"1,151",NaN
93,Distance from Haiti to Ukraine,"9,389","5,834"
37,Distance from Cocos Islands to Ukraine,"9,306","5,782"
112,Distance from Kiribati to Ukraine,"4,367","8,927"
41,Distance from Switzerland to Ukraine,"1,722","1,070"
128,Distance from Latvia to Ukraine,"1,043",NaN
163,Distance from Peru to Ukraine,"1,963","7,433"
241,Distance from Ukraine to Luxembourg,"1,821","1,132"
89,Distance from Hong Kong to Ukraine,"7,659","4,759"
95,Distance from Indonesia to Ukraine,"9,539","5,927"
71,Distance from Faroe Islands to Ukraine,"2,789","1,733"
84,Distance from Greece to Ukraine,"1,276",NaN
127,Distance from Lithuania to Ukraine,NaN,NaN
119,Distance from Cayman Islands to Ukraine,"9,955","6,186"
75,Distance from Grenada to Ukraine,"9,211","5,723"

In [93]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
19,Distance from Belgium to Ukraine,"1,934","1,202"
21,Distance from Bulgaria to Ukraine,NaN,NaN
24,Distance from Benin to Ukraine,"5,112","3,176"
26,Distance from Bermuda to Ukraine,"7,786","4,838"
32,Distance from Bhutan to Ukraine,"5,530","3,436"
36,Distance from Canada to Ukraine,"7,745","4,813"
40,Distance from Republic of the Congo to Ukraine,"5,603","3,482"
41,Distance from Switzerland to Ukraine,"1,722","1,070"
44,Distance from Chile to Ukraine,"3,753","8,546"
53,Distance from Cyprus to Ukraine,"1,485",NaN
54,Distance from Czech Republic to Ukraine,"1,151",NaN
55,Distance from Germany to Ukraine,"1,514",NaN
56,Distance from Denmark to Ukraine,"1,703","1,058"
61,Distance from Estonia to Ukraine,"1,205",NaN
65,Distance from Spain to Ukraine,"2,880","1,790"
67,Distance from Finland to Ukraine,"1,544",NaN
69,Distance from Falkland Islands to Ukraine,"4,047","8,728"
72,Distance from France to Ukraine,"2,183","1,356"
84,Distance from Greece to Ukraine,"1,276",NaN
88,Distance from Guyana to Ukraine,"9,611","5,972"
92,Distance from Croatia to Ukraine,"1,267",NaN
94,Distance from Hungary to Ukraine,NaN,NaN
96,Distance from Ireland to Ukraine,"2,783","1,729"
99,Distance from India to Ukraine,"5,238","3,255"
102,Distance from Iran to Ukraine,"2,586","1,607"
103,Distance from Iceland to Ukraine,"3,445","2,141"
104,Distance from Italy to Ukraine,"1,623","1,008"
105,Distance from Jersey to Ukraine,"2,421","1,504"
113,Distance from Comoros to Ukraine,"6,781","4,214"
117,Distance from Kosovo to Ukraine,"1,024",NaN
123,Distance from Liechtenstein to Ukraine,"1,615","1,004"
127,Distance from Lithuania to Ukraine,NaN,NaN
128,Distance from Latvia to Ukraine,"1,043",NaN
133,Distance from Montenegro to Ukraine,"1,112",NaN
145,Distance from Malta to Ukraine,"1,949","1,211"
149,Distance from Malaysia to Ukraine,"8,248","5,125"
150,Distance from Mozambique to Ukraine,"7,468","4,640"
156,Distance from Netherlands to Ukraine,"1,875","1,165"
158,Distance from Nepal to Ukraine,"5,001","3,107"
162,Distance from Oman to Ukraine,"3,709","2,305"
168,Distance from Poland to Ukraine,NaN,NaN
173,Distance from Portugal to Ukraine,"3,270","2,032"
177,Distance from Romania to Ukraine,NaN,NaN
186,Distance from Sweden to Ukraine,"1,533",NaN
188,Distance from Slovenia to Ukraine,"1,243",NaN
190,Distance from Slovakia to Ukraine,NaN,NaN
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [94]:
distance_df.drop([24], axis = 0, inplace = True)

In [95]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
19,Distance from Belgium to Ukraine,"1,934","1,202"
21,Distance from Bulgaria to Ukraine,NaN,NaN
41,Distance from Switzerland to Ukraine,"1,722","1,070"
53,Distance from Cyprus to Ukraine,"1,485",NaN
54,Distance from Czech Republic to Ukraine,"1,151",NaN
55,Distance from Germany to Ukraine,"1,514",NaN
56,Distance from Denmark to Ukraine,"1,703","1,058"
61,Distance from Estonia to Ukraine,"1,205",NaN
65,Distance from Spain to Ukraine,"2,880","1,790"
67,Distance from Finland to Ukraine,"1,544",NaN
72,Distance from France to Ukraine,"2,183","1,356"
84,Distance from Greece to Ukraine,"1,276",NaN
92,Distance from Croatia to Ukraine,"1,267",NaN
94,Distance from Hungary to Ukraine,NaN,NaN
96,Distance from Ireland to Ukraine,"2,783","1,729"
103,Distance from Iceland to Ukraine,"3,445","2,141"
104,Distance from Italy to Ukraine,"1,623","1,008"
123,Distance from Liechtenstein to Ukraine,"1,615","1,004"
127,Distance from Lithuania to Ukraine,NaN,NaN
128,Distance from Latvia to Ukraine,"1,043",NaN
133,Distance from Montenegro to Ukraine,"1,112",NaN
145,Distance from Malta to Ukraine,"1,949","1,211"
156,Distance from Netherlands to Ukraine,"1,875","1,165"
168,Distance from Poland to Ukraine,NaN,NaN
173,Distance from Portugal to Ukraine,"3,270","2,032"
177,Distance from Romania to Ukraine,NaN,NaN
186,Distance from Sweden to Ukraine,"1,533",NaN
188,Distance from Slovenia to Ukraine,"1,243",NaN
190,Distance from Slovakia to Ukraine,NaN,NaN
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [96]:
distance_df.drop([41,103,133], axis = 0, inplace = True)

In [97]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
19,Distance from Belgium to Ukraine,"1,934","1,202"
21,Distance from Bulgaria to Ukraine,NaN,NaN
53,Distance from Cyprus to Ukraine,"1,485",NaN
54,Distance from Czech Republic to Ukraine,"1,151",NaN
55,Distance from Germany to Ukraine,"1,514",NaN
56,Distance from Denmark to Ukraine,"1,703","1,058"
61,Distance from Estonia to Ukraine,"1,205",NaN
65,Distance from Spain to Ukraine,"2,880","1,790"
67,Distance from Finland to Ukraine,"1,544",NaN
72,Distance from France to Ukraine,"2,183","1,356"
84,Distance from Greece to Ukraine,"1,276",NaN
92,Distance from Croatia to Ukraine,"1,267",NaN
94,Distance from Hungary to Ukraine,NaN,NaN
96,Distance from Ireland to Ukraine,"2,783","1,729"
104,Distance from Italy to Ukraine,"1,623","1,008"
123,Distance from Liechtenstein to Ukraine,"1,615","1,004"
127,Distance from Lithuania to Ukraine,NaN,NaN
128,Distance from Latvia to Ukraine,"1,043",NaN
145,Distance from Malta to Ukraine,"1,949","1,211"
156,Distance from Netherlands to Ukraine,"1,875","1,165"
168,Distance from Poland to Ukraine,NaN,NaN
173,Distance from Portugal to Ukraine,"3,270","2,032"
177,Distance from Romania to Ukraine,NaN,NaN
186,Distance from Sweden to Ukraine,"1,533",NaN
188,Distance from Slovenia to Ukraine,"1,243",NaN
190,Distance from Slovakia to Ukraine,NaN,NaN
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [99]:
distance_df.to_csv("./data/distance_df.csv", index=False)

In [112]:
distance_df["Countries to sort"].str.replace('Distance from Austria to Ukraine':'Austria', 'Distance from Belgium to Ukraine':'Belgium', 'Distance from Bulgaria to Ukraine':'Bulgaria', 'Distance from Cyprus to Ukraine': 'Cyprus', 'Distance from Czech Republic to Ukraine':'Czechia', 'Distance from Germany to Ukraine': 'Germany', 'Distance from Denmark to Ukraine':'Denmark','Distance from Estonia to Ukraine':'Estonia','Distance from Spain to Ukraine':'Spain', 'Distance from Finland to Ukraine':'Finland', 'Distance from France to Ukraine': 'France', 'Distance from Greece to Ukraine': 'Greece', 'Distance from Croatia to Ukraine': 'Croatia', 'Distance from Hungary to Ukraine':'Hungary', 'Distance from Ireland to Ukraine':'Ireland', 'Distance from Italy to Ukraine' : 'Italy', 'Distance from Liechtenstein to Ukraine': 'Liechtenstein', 'Distance from Latvia to Ukraine':'Latvia', 'Distance from Malta to Ukraine':'Malta', 'Distance from Netherlands to Ukraine' : 'Netherlands', 'Distance from Poland to Ukraine' : 'Poland', 'Distance from Portugal to Ukraine' : 'Portugal', 'Distance from Romania to Ukraine': 'Romania', 'Distance from Sweden to Ukraine' : 'Sweden', 'Distance from Slovenia to Ukraine' : 'Slovenia', 'Distance from Ukraine to Luxembourg' : 'Luxembourg')

SyntaxError: invalid syntax (2094785922.py, line 1)

In [113]:
distance_df["Countries to sort"].str.replace("Distance from Austria to Ukraine","Austria", inplace=True)

TypeError: replace() got an unexpected keyword argument 'inplace'

In [ ]:
distance_df['Countries to sort'].replace('Distance from Austria to Ukraine','-', inplace=True)

In [109]:
distance_df

,Countries to sort,Distance from Ukraine in km,Mileage
11,Distance from Austria to Ukraine,"1,239",NaN
19,Distance from Belgium to Ukraine,"1,934","1,202"
21,Distance from Bulgaria to Ukraine,NaN,NaN
53,Distance from Cyprus to Ukraine,"1,485",NaN
54,Distance from Czech Republic to Ukraine,"1,151",NaN
55,Distance from Germany to Ukraine,"1,514",NaN
56,Distance from Denmark to Ukraine,"1,703","1,058"
61,Distance from Estonia to Ukraine,"1,205",NaN
65,Distance from Spain to Ukraine,"2,880","1,790"
67,Distance from Finland to Ukraine,"1,544",NaN
72,Distance from France to Ukraine,"2,183","1,356"
84,Distance from Greece to Ukraine,"1,276",NaN
92,Distance from Croatia to Ukraine,"1,267",NaN
94,Distance from Hungary to Ukraine,NaN,NaN
96,Distance from Ireland to Ukraine,"2,783","1,729"
104,Distance from Italy to Ukraine,"1,623","1,008"
123,Distance from Liechtenstein to Ukraine,"1,615","1,004"
127,Distance from Lithuania to Ukraine,NaN,NaN
128,Distance from Latvia to Ukraine,"1,043",NaN
145,Distance from Malta to Ukraine,"1,949","1,211"
156,Distance from Netherlands to Ukraine,"1,875","1,165"
168,Distance from Poland to Ukraine,NaN,NaN
173,Distance from Portugal to Ukraine,"3,270","2,032"
177,Distance from Romania to Ukraine,NaN,NaN
186,Distance from Sweden to Ukraine,"1,533",NaN
188,Distance from Slovenia to Ukraine,"1,243",NaN
190,Distance from Slovakia to Ukraine,NaN,NaN
241,Distance from Ukraine to Luxembourg,"1,821","1,132"

In [ ]:
distance_df["Countries to sort"] = distance_df["Countries to sort"].str.extract(r"(\d,\d{1,})")